page-home {
.main{
background-color:whitesmoke;}
.image{

padding-top: 50px;
    text-align: center;

}
font-family: Roboto;
.in{

    text-align: center;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
}
