page-plaza {
.plaza{
    background-image: url("/src/assets/imgs/fondo.png");
}

.llamada{
    
    font-size:125%;
    font-weight: 500;
      display:block!important;
      -webkit-transition:-webkit-transform 0.5s ease-out;
      -moz-transition:-moz-transform 0.5s ease-out;
      -o-transition:-o-transform 0.5s ease-out;
      -ms-transition:-ms-transform 0.5s ease-out;
      transition:transform 0.5s ease-out;
  

  }

  .llamada:hover{
   
      transform: scale(1.0);
      color: red;
     // animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

}
